@import url("@/assets/fonts/font.css");
@import url("@/assets/styles/overlayscrollbars.css");

@import url("allotment/dist/style.css");
@import url("react-complex-tree/lib/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-hidden bg-background text-foreground;
  }
  :root {
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      Arial,
      Noto Sans,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;
    *::-webkit-scrollbar {
      width: 14px;
      height: 14px;
      border-radius: 0px;
    }
    *::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
    }
    *::-webkit-scrollbar-thumb {
      background: rgba(121, 121, 121, 0.2);
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    }
    *::-webkit-scrollbar-thumb:hover {
      background: rgba(121, 121, 121, 0.2);
    }
    .sash {
      z-index: 20;
    }

    --focus-border: theme("colors.primary.DEFAULT");
    --separator-border: theme("colors.border");

    --rct-color-tree-bg: var(--background);
    --rct-color-tree-focus-outline: #0366d6;

    --rct-color-focustree-item-selected-bg: var(--background);
    --rct-color-focustree-item-selected-text: inherit;
    --rct-color-focustree-item-focused-border: #0366d6;
    --rct-color-focustree-item-draggingover-bg: #ebf0f4;
    --rct-color-focustree-item-draggingover-color: inherit;

    --rct-color-nonfocustree-item-selected-bg: var(--primary);
    --rct-color-nonfocustree-item-selected-text: inherit;
    --rct-color-nonfocustree-item-focused-border: #dbdbdb;

    --rct-color-search-highlight-bg: #a2aed2;
    --rct-color-drag-between-line-bg: #0366d6;
    --rct-color-arrow: #373a3f;

    --rct-item-height: 22px;

    --rct-color-renaming-input-submitbutton-bg: inherit;
    --rct-color-renaming-input-submitbutton-bg-hover: #0366d6;
    --rct-color-renaming-input-submitbutton-bg-active: #095fc1;

    --rct-color-renaming-input-submitbutton-text: inherit;
    --rct-color-renaming-input-submitbutton-text-hover: #ffffff;
    --rct-color-renaming-input-submitbutton-text-active: #ffffff;
  }
}
