.container {
  @apply flex flex-1 flex-col overflow-hidden p-2;
  .title {
    @apply flex items-center gap-1;
    font-family: Monument-Bold;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    .info {
      @apply mt-4 box-border flex w-auto flex-col gap-1 text-sm;
      font-family: Monument;
      font-weight: 500;
    }
  }
  .content {
    @apply box-border flex h-full w-full flex-1 flex-col overflow-hidden pl-2 pt-2;
    .side {
      @apply flex flex-1 flex-col overflow-hidden;
    }
    .main {
      @apply box-border h-full w-full overflow-hidden;
      .editor {
        @apply flex flex-1;
      }
      .panel {
        @apply flex flex-1;
      }
    }
  }
}
